.contact-details {
  text-align: start;
  background-color: white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  border: 4px rgb(73, 97, 206) solid;
  border-radius: 1rem;

  .contact-info {
    padding: 4rem 8rem;
  }

  span {
    text-decoration: underline;
    font-weight: bold;
  }

  h2 {
    text-align: center;
    padding-bottom: 1rem;
  }

  button{
    background-color: rgb(215, 23, 23);
    border: none;
    padding: 0.4rem 0.8rem;
    border-start-start-radius: 0.75rem;
    border:1px solid rgb(113, 113, 113);
    border-inline-start:none ;
    border-block-start:none ;
    cursor: pointer;
    transition: all 0.15s;
    &:hover{
      background-color: rgb(159, 20, 20);
    }
  }
  .transfer-coins{
    text-align: center;
    margin-bottom: 2rem;
  }
}
.user-moves{
  h2{
    margin-top: 1.3rem;
    text-align: center;
    text-decoration: underline;
  }
  .move{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    border: 1px red solid;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1rem 2rem;
    border-radius: 0.4rem;
    background-color: rgb(223, 223, 223);
  }
}
